.d-grid.text-center
  - if user_signed_in?
    = button_to 'ログアウト', '/logout', method: :post, data: { turbo: false }, class: 'btn btn-danger btn-lg'
  - else
    = button_to 'ログイン', '/auth/google_oauth2', method: :post, data: { turbo: false }, class: 'btn btn-primary btn-lg'
