:javascript
  document.addEventListener('DOMContentLoaded', () => {
    const getLocation = () => {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(({ coords }) => {
          const form = document.createElement('form');
          form.method = 'POST';
          form.action = '/location_authenticate';
          form.innerHTML = `
            <input type="hidden" name="location[latitude]" value="${coords.latitude}">
            <input type="hidden" name="location[longitude]" value="${coords.longitude}">
            <input type="hidden" name="authenticity_token" value="${document.querySelector('meta[name="csrf-token"]').content}">
          `;
          document.body.appendChild(form);
          form.submit();
        });
      } else {
        alert("お使いのブラウザは位置情報に対応していません");
      }
    };

    document.getElementById('get-location-button').addEventListener('click', getLocation);
  });


.text-center.mt-5{ style: 'max-width: 400px; margin: 0 auto;' }
  .card
    .card-header
      初期設定
    .card-body
      .h5.mb-3{style: 'line-height: 1.5;'}
        Attendarは位置情報を利用します
        %br
        位置情報からあなたにおすすめのイベントをアテンドします。
      .h5{style: 'line-height: 1.5;'}
        以下のボタンをタップして、位置情報を許可してください
    .card-footer
      %button#get-location-button.btn.btn-primary.text-white 位置情報を許可する
